@import './variables.scss';

html {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}

#root {
	height: 100vh;
	width: 100%;
    margin: 0;
    padding: 0;

}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;


    font-family: $default-font;
    font-size: 14px;
    letter-spacing: 1px;
    overflow-y: scroll;
    background-color: $bg-color;
    color: $color;
}

a {
    color: inherit;
    text-decoration: inherit;
}