$menu-background-color: #1F1B33;
$bg-color: #ffff;
$color: #ffff;
$default-font: Arial;
$active-href-font-color: #FC8074;
$active-href-color: rgba(252, 128, 116, 0.2);
$main-title-font-color: #9F9FA0;
$lines-background-color: #E8E5E5;